.header{
    height: 80px;
    background-color: rgba(48, 32, 105, 1) ;
    /* background-color: transparent; */
    display: flex;
    align-items: center;
    padding-left: 20px;
    &__logo {
        color: white;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        span {
            color: rgba(149, 40, 40, 1);
        }
    }

    @media (max-width: 390px) {
        &__logo {
            font-size: 19px;
        }
    }
}