<div class="principal-home">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side">
            
            <mat-list role="list">
                <mat-list-item role="listitem">Dashboard</mat-list-item>
                <mat-list-item role="listitem">Minhas Coreografias</mat-list-item>
                <mat-list-item role="listitem">Questionarios</mat-list-item>
                <mat-list-item role="listitem">Meus dados</mat-list-item>
            </mat-list>
        </mat-drawer>

        <div class="sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button>
        </div>

    </mat-drawer-container>
</div>