.principal-home {
    height: 100vh; /* Define a altura para ocupar toda a janela */
    display: flex;
    flex-direction: column;
}

.example-container {
    height: 100%; /* Garante que o mat-drawer-container ocupe toda a altura disponível */
}

.sidenav {
    height: 100%; /* Faz o mat-drawer ocupar toda a altura do container */
    background-color: #f4f4f4; /* Cor de fundo opcional */
}

.sidenav-content {
    padding: 16px;
    flex-grow: 1; /* Expande o conteúdo restante */
}
