<div class="principal-home">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side">
            <div class="top-image-menu">
                <img src="../../../assets/images/lhama.png" alt="">
                <p class="top-image-menu__name">Senhor Inhama da Silva</p>
                <p class="top-image-menu__address">Pernambuco, BR</p>
            </div>
            <mat-list role="list" class="list-itens-nav">
                <mat-list-item role="listitem" class="listitem">
                    Dashboard
                </mat-list-item>
                <mat-list-item role="listitem" class="listitem">Minhas Coreografias</mat-list-item>
                <mat-list-item role="listitem" class="listitem">
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            {{ node.name }}
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                            <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{ treeControl.isExpanded(node) ? '-' : '+' }}
                                </mat-icon>
                            </button>
                            {{ node.name }}
                        </mat-tree-node>
                    </mat-tree>
                </mat-list-item>



                <mat-list-item role="listitem" class="listitem">Meus dados</mat-list-item>
            </mat-list>
        </mat-drawer>

        <div class="sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">Toggle sidenav</button>
        </div>
    </mat-drawer-container>
</div>