<div class="login-page-container flex items-center justify-center height-page">

    <div class="login-content grid lg:grid-cols-2">
        <div class="login-content__art">
            <img src="../../../assets/images/login-image.png" alt="">
        </div>
        <div class="login-content__container p-4">
            <p class="login-content__container-title">coreo<span>Mind</span></p>
            <p class="login-content__container-welcome">Bem-vindo</p>
        </div>

    </div>
    
</div>
