<div class="login-page-container flex items-center justify-center height-page">

    <div class="login-content grid lg:grid-cols-2">
        <div class="login-content__art">
            <img src="../../../assets/images/login-image.png" alt="">
        </div>
        <div class="login-content__container p-11">
            <p class="login-content__container-title">coreo<span>Mind</span></p>
            <p class="login-content__container-welcome">Bem-vindo</p>

            <app-default-input label="Login" placeholder="Entre com seu login"></app-default-input>
            <app-default-input label="Senha" placeholder="Digite sua  senha"></app-default-input>

            <app-button-home text="Entrar"></app-button-home>
        </div>

    </div>
    
</div>
